<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFXIV_Camera_Settings.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <FFXIV_Camera_Settings.My.MySettings>
            <setting name="FOV" serializeAs="String">
                <value>0.78</value>
            </setting>
            <setting name="ZoomMax" serializeAs="String">
                <value>50.0</value>
            </setting>
            <setting name="SetZoomCurrent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CameraAddress" serializeAs="Xml">
                <value>
                    <ArrayOfInt xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <int>15837456</int>
                    </ArrayOfInt>
                </value>
            </setting>
            <setting name="ZoomCurrentOffset" serializeAs="String">
                <value>232</value>
            </setting>
            <setting name="ZoomMaxOffset" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="FovCurrentOffset" serializeAs="String">
                <value>244</value>
            </setting>
            <setting name="FovMaxOffset" serializeAs="String">
                <value>252</value>
            </setting>
        </FFXIV_Camera_Settings.My.MySettings>
    </userSettings>
</configuration>